.contador {
    display: flex;
    flex-direction: column;
}

.controles {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.boton {
    margin: 10px;
    width: 30px;
    padding-bottom: 2px;
}